.panel.panel-primary    
    .panel-heading.text-center Calculator
    .panel-body
        .row   
            .col-md-12
            div.form-group.input-group-sm
                .col-md-6
                    input(type="password").form-control.input-sm
                .col-md-6
                    select.form-control.input-sm
        .row   
            .col-md-12
            div.form-group.input-group-sm
                .col-md-6
                    input(type="password").form-control.input-sm
                .col-md-6
                    select.form-control.input-sm
            
    